<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.azhar.lppm">
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/MyMaterialTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".PenelitianActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".FgdActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".PengabdianActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".PerjalananActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".FormPenelitianActivity"></activity>
        <activity android:name=".FormFgdActivity"></activity>
        <activity android:name=".FormPerjalananActivity"></activity>
        <activity android:name=".FormPengabdianActivity"></activity>
        <activity android:name=".DetailFgdActivity"></activity>
        <activity android:name=".DetailPenelitianActivity"></activity>
        <activity android:name=".DetailPengabdianActivity"></activity>
        <activity android:name=".DetailPerjalananActivity"></activity>
        <activity android:name=".LupaPassword"></activity>
        <activity android:name=".SettingActivity"></activity>
        <activity android:name=".PenggunaActivity"></activity>
        <activity android:name=".PilihanActivity"></activity>




























    </application>

</manifest>